@model SimpleStore.Web.Areas.Administration.ViewModels.CharacteristicViewModel

<form method="post" asp-action="AssignCharacteristic">
    @Html.HiddenFor(e => e.ItemId)
    <div class="modal fade" id="assignCharacteristicModal" tabindex="-1"
         aria-labelledby="characteristicModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="characteristicModalLabel">Assign Characteristic</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex gap-1">
                    <div class="form-floating">
                        <input asp-for="Name" class="form-control" id="floatingInput"
                               placeholder="@Html.NameFor(e => e.Name)">
                        <label for="floatingInput">@Html.NameFor(e => e.Name)</label>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Value" class="form-control" id="floatingInput"
                               placeholder="@Html.NameFor(e => e.Value)">
                        <label for="floatingInput">@Html.NameFor(e => e.Value)</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

